@import "primer-utilities/index.scss";

.thumbnail-link {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  img {
    visibility: hidden;
  }
}
