@import "primer-utilities/index.scss";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

.thumbnail-link {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  img {
    visibility: hidden;
  }
}

.button.dropdown-item {
  border: none;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    color: #0a0a0a;
    background-color: whitesmoke;
  }

  &.is-active {
    background-color: #3273dc;
    color: #fff;
  }
}

.dropdown-menu {
  min-width: 5em;
}

.spotify-artist-link {
  + .spotify-artist-link {
    &::before {
      content: ", ";
    }
  }
}

.spotify-playlist-tracks-list {
  max-height: 7.4em;
  overflow-y: auto;
}

.reddit-logo {
  display: inline-block;
  vertical-align: middle;
}
